body{
    background-color: #ffffff;
}

.loginLogo{
    margin-left: 10%;
    margin-right: auto;
    margin-top: 15%;
    
}

.styledInput{
    display: inline-block;
    position: absolute;
    font-family: sans-serif;
    
}

.loginText{
    font-size: 60px;
    font-family: sans-serif;
    color: #2d373c;
}

.inputBox{
    width: 150%;
    height: 150px;
    font-size: 70px;
}

.title{
    font-family: sans-serif;
    color: #697882;
    font-size: 800%;
    text-align: center;
    margin-left: 45%;
    
}

.submitButton{
    height: 170px;
    width: 1330px;
    background-color: #3c464b;
    position: absolute;
    font-family: sans-serif;
    font-size: 60px;
    color: white;
}

.recoverPass{
    color: red;
}